---
import Lightbox from "@/components/Modal/SvelteModal.svelte";
import { Image } from "@astrojs/image/components";
const { alt, src } = Astro.props;
---

<div class="relative xl:min-h-full overflow-hidden">
  <Image alt={alt} src={src} width={800} height={600} class="object-cover w-full h-64" format="webp" />
  <Lightbox client:visible>
    <Image
      alt={alt}
      src={src}
      aspectRatio="4:3"
      width={1600}
    />
  </Lightbox>
</div>
