---
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
import HeroContact from "@/components/Heros/HeroContact.astro";

export const TRAMAS = [
  {
    title: "Tradición Telera",
    slug: "/tramas/tradicion-telera",
    ariaLabel: "ir a Tradición telera",
    image:
      "https://res.cloudinary.com/djoqdhbiv/image/upload/v1665276865/web/Tramas/Tradici%C3%B3n%20Telera/choque-guzman-12_fwlpqt.jpg",
  },
  {
    title: "Volver al telar",
    slug: "/tramas/volver-al-telar",
    ariaLabel: "ir a Volver al telar",
    image:
      "https://res.cloudinary.com/djoqdhbiv/image/upload/v1679707878/web/Tramas/Tradici%C3%B3n%20Telera/Volver-al-Telar-portada_hgfytj.webp",
  },
  {
    title: "El Huipil",
    slug: "/tramas/el-huipil",
    ariaLabel: "ir a El Huipil",
    image:
      "https://res.cloudinary.com/djoqdhbiv/image/upload/v1679666237/web/Tramas/el-huipil/2_myroyn.jpg",
  },
  {
    title: "Flor de Naupan",
    slug: "/tramas/flor-de-naupan",
    ariaLabel: "ir a Flor de Naupan",
    image:
      "https://res.cloudinary.com/djoqdhbiv/image/upload/v1679797489/web/Tramas/flor-de-naupan/Flor-de-Naupan-portada_r1uw96.webp",
  },
  {
    title: "Sabiduría de la Selva",
    slug: "/tramas/sabiduria-de-la-selva",
    ariaLabel: "ir a Sabiduría de la Selva",
    image:
      "https://res.cloudinary.com/djoqdhbiv/image/upload/v1679798099/web/Tramas/sabiduria-de-la-selva/sabiduria-de-la-selva-027_xeges4.webp",
  },
  {
    title: "Grecas del olvido",
    slug: "/tramas/grecas-de-olvido",
    ariaLabel: "ir a Grecas del olvido",
    image:
      "https://res.cloudinary.com/djoqdhbiv/image/upload/v1679798338/web/Tramas/grecas-del-olvido/Grecas-de-Olvido-portada_iddoey.webp",
  },
  {
    title: "Mariana Rivera: Militante de Hilo y Tela",
    slug: "/perfiles/mariana-rivera-militante-de-hilo-y-tela",
    ariaLabel: "ir a Mariana Rivera: Militante de Hilo y Tela",
    image:
      "https://res.cloudinary.com/djoqdhbiv/image/upload/v1679784537/web/Perfiles/Mariana/mariana-rivera_faqenj.jpg",
  },
];
---

<Layout title="Inicio">
  <main
    class="flex flex-col w-full min-h-screen max-w-screen overscroll-auto scroll-smooth"
  >
    <div
      class="relative flex items-center justify-center w-full min-h-screen px-3 overflow-hidden bg-gray-900"
    >
      <div
        class="relative z-10 flex flex-col items-center justify-center w-full max-w-3xl p-6"
      >
        <div class="lg:px-0">
          <h2
            class="mb-6 font-sans text-3xl text-center text-white md:text-5xl"
          >
            Sumérgete en un universo lleno de historias que nacen en los hilos
            de América Latina
          </h2>
        </div>
        <a href="/tramas" class="btn red"> Explorar trama</a>
      </div>
      <div class="absolute inset-0 z-0 opacity-40">
        <Image
          alt="Madejandola"
          width={1600}
          height={1300}
          class="object-cover w-full h-screen"
          src="https://res.cloudinary.com/djoqdhbiv/image/upload/q_auto:eco/v1664335751/web/ImagenesFondo/legado-dona-santa-009_b0pqmb.jpg"
        />
      </div>
    </div>
    <div id="content" class="w-full min-h-screen">
      <div
        class="grid w-full max-w-full gap-1 p-1 mx-auto grid-cols-1 sm:grid-cols-2 lg:grid-cols-4"
      >
        {
          TRAMAS.map((route, i) => {
            return (
              <a
                href={`${route.slug}`}
                class="w-full relative flex justify-start items-end group overflow-hidden h-[50vh] bg-gray-900"
              >
                <div class=" z-10 m-3 duration-300 flex items-center lg:opacity-0 bottom-3 left-3 group-hover:opacity-100">
                  <h2 class="text-2xl mb-2 text-white ">{route.title}</h2>
                </div>
                <div class="duration-300 absolute inset-0 opacity-30 lg:opacity-90 group-hover:opacity-30">
                  <Image
                    alt={route.slug}
                    src={route.image}
                    class="object-cover h-[50vh] w-full"
                    height={500}
                    width={500}
                  />
                </div>
              </a>
            );
          })
        }
        <a
          href="/tramas"
          class="w-full h-[50vh] bgPattern bg-red-600 text-center bg-fixed  flex justify-center font-sans text-3xl items-center text-white hover:bg-red-500"
          style="background-size: 150px;"
        >
          Explorar todas <br /> la tramas
        </a>
      </div>
    </div>
    <div
      class="relative flex items-center justify-center w-full min-h-screen bg-white"
      id="sobre-el-proyecto"
    >
      <div
        class="relative z-10 flex flex-col items-center justify-center w-full max-w-2xl p-6 bg-white rounded shadow-lg"
      >
        <div class="flex flex-col items-center justify-center lg:px-0">
          <h2 class="mt-6 mb-6 font-sans text-3xl font-bold text-center">
            Somos un proyecto que busca contar las historias detrás de los hilos
            de Latinoamérica.
          </h2>
          <p class="mb-6 text-lg text-center">
            A través de narrativas fotográficas y audiovisuales queremos
            compartir los encuentros que a lo largo de años hemos tenido con
            tejedorxs y bordadorxs de distintos puntos del continente y así,
            contagiar nuestra pasión por las tradiciones textiles.
          </p>
          <a href="/sobre-madejandola" class="btn yellow">Conocer más</a>
        </div>
      </div>
      <div class="absolute inset-0">
        <Image
          alt="Madejandola"
          width={1600}
          height={800}
          class="w-full h-screen"
          src="https://res.cloudinary.com/djoqdhbiv/image/upload/v1679669590/web/ImagenesFondo/del-campo-a-la-ciudad-011_iizpea.jpg"
        />
      </div>
    </div>
    <div
      class="relative mt-1 w-full min-h-screen max-h-screen bg-gray-900 overflow-hidden"
      id="contacto"
    >
      <HeroContact />
    </div>
  </main>
</Layout>


