---
import Layout from "../layouts/Layout.astro";
import SearchPage from "../components/SearchPageRadio";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug";

export type SearchDefinition = {
  readonly primary: string;
  readonly secondary?: string;
  readonly url?: string;
  readonly slug?: string;
  readonly featuredImage?: string;
};

const getVideos = await getCollection("tramas");
const allVideos = getVideos.map<SearchDefinition>((item) => ({
  data: item.data,
  primary: item.body,
  secondary: item.data?.title,
  slug: createSlug(item.data?.title),
  featuredImage: item.data.featuredImage,
}));
---

<Layout title="Search">
  <div class="relative z-20 max-w-6xl pt-20 mx-auto lg:py-10">
    <h2 class="mb-6 font-sans text-6xl font-light text-left">Buscar videos</h2>
    <SearchPage client:idle list={allVideos} />
  </div>
</Layout>
