---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sobre Madejandola">
  <div class="relative z-20 w-full mx-auto lg:py-0">
    <div
      class="relative flex items-center justify-center w-full p-6 pt-40 pb-40 overflow-hidden bg-fixed bg-center bg-auto md:bg-cover"
      style={{
        backgroundImage:
          "url(https://res.cloudinary.com/djoqdhbiv/image/upload/v1679669590/web/ImagenesFondo/del-campo-a-la-ciudad-011_iizpea.jpg)",
      }}
    >
      <div
        class="relative z-10 flex flex-col justify-center w-full max-w-6xl px-4 mx-auto"
      >
        <h2 class="mb-3 font-sans text-6xl font-medium text-center text-white">
          Sobre Madejándola
        </h2>
      </div>
      <div class="absolute inset-0 z-0 opacity-60 bg-black"></div>
    </div>
    <div>
      <article class="prose prose-lg md:prose-xl max-w-3xl mx-auto">
        <p>
          En MadejándoLA contamos las historias detrás de las tradiciones
          textiles de América Latina. Creemos en el poder de las narrativas para
          comunicar cosas importantes. En los textiles artesanales, las técnicas
          son importantes, pero los creadores lo son más. MadejándoLA viaja para
          recopilar imágenes e historias de lo que pasa hoy con los textiles
          originarios. Juntamos testimonios de los procesos por los que
          atraviesan las tradiciones textiles de Latinoamérica en la actualidad.
          También entrevistamos a artistas, investigadores y referentes del
          textil artesanal para conocer sus perspectivas sobre el presente de
          este universo hecho de hilos.
        </p>

        <p>
          Los textiles originarios son piezas creadas a partir de una
          cosmovisión, con técnicas y materiales propias del lugar y que dan fe
          de sus procesos históricos y sociales. Este proyecto es un espacio en
          el que se están generando productos con la intención de crear nuevos
          archivos de patrimonio digital. MadejándoLA viaja para recopilar
          imágenes e historias de lo que pasa hoy con los textiles originarios.
          Juntamos testimonios de los procesos por los que atraviesan las
          tradiciones textiles de Latinoamérica en la actualidad. También
          entrevistamos a artistas, investigadores y referentes del textil
          artesanal para conocer sus perspectivas sobre el presente de este
          universo hecho de hilos.
        </p>

        <p>
          Cada textil cuenta una historia, es un libro escrito con hilos. Es por
          esto que al unirlos digitalmente en imágenes, textos, audios y videos
          estamos creando un acervo de estos documentos a los cuales se puede
          acceder desde cualquier lugar con una conexión a Internet. MadejándoLA
          viaja para recopilar imágenes e historias de lo que pasa hoy con los
          textiles originarios. Juntamos testimonios de los procesos por los que
          atraviesan las tradiciones textiles de Latinoamérica en la actualidad.
          También entrevistamos a artistas, investigadores y referentes del
          textil artesanal para conocer sus perspectivas sobre el presente de
          este universo hecho de hilos.
        </p>

        <p>
          MadejándoLA viaja para recopilar imágenes e historias de lo que pasa
          hoy con los textiles originarios. Juntamos testimonios de los procesos
          por los que atraviesan las tradiciones textiles de Latinoamérica en la
          actualidad. También entrevistamos a artistas, investigadores y
          referentes del textil artesanal para conocer sus perspectivas sobre el
          presente de este universo hecho de hilos.
        </p>
        <hr />
        <h2 style="text-align: center;">¿Por qué MadejándoLA?</h2>
        <p>
          Las tradiciones textiles son resistencias. Resistencias silenciosas
          que encuentran su modo de sobrevivir a través del dinamismo y la
          transformación. Se van reconfigurando con el tiempo y son producto de
          la creatividad nata y la capacidad de adaptación de los pueblos
          originarios. Son resistencias silentes y resilientes, portadoras de
          diversidad.
        </p>

        <p>
          Es nuestro objetivo mostrar en esta plataforma otras formas de
          trabajar, de pensar y de crear. Éstas aportan a la visibilización de
          alternativas, haciendo así contrapeso a las estéticas dominantes que
          inundan la web, las redes sociales y los medios de comunicación
          masiva.
        </p>

        <p>
          La apropiación cultural es una realidad y esperamos con esta visión,
          sumar argumentos para la protección de los derechos culturales y
          patrimoniales de los pueblos.
        </p>
      </article>
      <div class="inner text-center py-24  ">
        <h2 class="text-3xl font-extrabold pb-12">¿A quién sirve?</h2>
        <div class="grid max-w-5xl pb-12 mx-auto sm:grid-cols-2 px-6 lg:grid-cols-5 gap-2">
          <div class="bg-gray-100 border-2 shadow-lg text-lg rounded-lg py-6 text-center font-bold">
            Amantes del textil
          </div>
          <div class="bg-gray-100 border-2 shadow-lg text-lg rounded-lg py-6 text-center font-bold">
            Curiosos
          </div>
          <div class="bg-gray-100 border-2 shadow-lg text-lg rounded-lg py-6 text-center font-bold">
            Investigadores
          </div>
          <div class="bg-gray-100 border-2 shadow-lg text-lg rounded-lg py-6 text-center font-bold">
            Estudiantes
          </div>
          <div class="bg-gray-100 border-2 shadow-lg text-lg rounded-lg py-6 text-center font-bold">
            Diseñadores
          </div>
        </div>
      </div>
    </div>
  </div>
</Layout>


