---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Search">
  <div class="relative z-20 w-full pt-20 mx-auto lg:py-10">
    <div
      class="relative flex items-center justify-center w-full p-6 pt-40 pb-24 overflow-hidden bg-fixed bg-center bg-cover"
      style={{
        backgroundImage:
          "url(https://res.cloudinary.com/djoqdhbiv/image/upload/v1679669590/web/ImagenesFondo/del-campo-a-la-ciudad-011_iizpea.jpg)",
      }}
    >
      <div
        class="relative z-10 flex flex-col justify-center w-full max-w-6xl px-4 mx-auto"
      >
        <h2 class="mb-3 font-sans text-6xl font-medium text-center text-white">
          Sobre Madejandola
        </h2>
      </div>
      <div class="absolute inset-0 z-0 opacity-60 bg-black"></div>
    </div>
    <div>
      <article class="prose prose-lg md:prose-xl max-w-3xl mx-auto">
        <p>
          En MadejándoLA contamos las historias detrás de las tradiciones
          textiles de América Latina. Creemos en el poder de las narrativas para
          comunicar cosas importantes. En los textiles artesanales, las técnicas
          son importantes, pero los creadores lo son más. MadejándoLA viaja para
          recopilar imágenes e historias de lo que pasa hoy con los textiles
          originarios. Juntamos testimonios de los procesos por los que
          atraviesan las tradiciones textiles de Latinoamérica en la actualidad.
          También entrevistamos a artistas, investigadores y referentes del
          textil artesanal para conocer sus perspectivas sobre el presente de
          este universo hecho de hilos.
        </p>

        <p>
          Los textiles originarios son piezas creadas a partir de una
          cosmovisión, con técnicas y materiales propias del lugar y que dan fe
          de sus procesos históricos y sociales. Este proyecto es un espacio en
          el que se están generando productos con la intención de crear nuevos
          archivos de patrimonio digital. MadejándoLA viaja para recopilar
          imágenes e historias de lo que pasa hoy con los textiles originarios.
          Juntamos testimonios de los procesos por los que atraviesan las
          tradiciones textiles de Latinoamérica en la actualidad. También
          entrevistamos a artistas, investigadores y referentes del textil
          artesanal para conocer sus perspectivas sobre el presente de este
          universo hecho de hilos.
        </p>

        <p>
          Cada textil cuenta una historia, es un libro escrito con hilos. Es por
          esto que al unirlos digitalmente en imágenes, textos, audios y videos
          estamos creando un acervo de estos documentos a los cuales se puede
          acceder desde cualquier lugar con una conexión a Internet. MadejándoLA
          viaja para recopilar imágenes e historias de lo que pasa hoy con los
          textiles originarios. Juntamos testimonios de los procesos por los que
          atraviesan las tradiciones textiles de Latinoamérica en la actualidad.
          También entrevistamos a artistas, investigadores y referentes del
          textil artesanal para conocer sus perspectivas sobre el presente de
          este universo hecho de hilos.
        </p>

        <p>
          MadejándoLA viaja para recopilar imágenes e historias de lo que pasa
          hoy con los textiles originarios. Juntamos testimonios de los procesos
          por los que atraviesan las tradiciones textiles de Latinoamérica en la
          actualidad. También entrevistamos a artistas, investigadores y
          referentes del textil artesanal para conocer sus perspectivas sobre el
          presente de este universo hecho de hilos.
        </p>
        <hr />
        <h2>¿Por qué MadejándoLA?</h2>
        <p>
          Las tradiciones textiles son resistencias. Resistencias silenciosas
          que encuentran su modo de sobrevivir a través del dinamismo y la
          transformación. Se van reconfigurando con el tiempo y son producto de
          la creatividad nata y la capacidad de adaptación de los pueblos
          originarios. Son resistencias silentes y resilientes, portadoras de
          diversidad.
        </p>

        <p>
          Es nuestro objetivo mostrar en esta plataforma otras formas de
          trabajar, de pensar y de crear. Éstas aportan a la visibilización de
          alternativas, haciendo así contrapeso a las estéticas dominantes que
          inundan la web, las redes sociales y los medios de comunicación
          masiva.
        </p>

        <p>
          La apropiación cultural es una realidad y esperamos con esta visión,
          sumar argumentos para la protección de los derechos culturales y
          patrimoniales de los pueblos.
        </p>
        <div class="inner">
          <h2>¿A quién sirve?</h2>

          <div class="destinado">
            <div class="destinado-item aos-init aos-animate" data-aos="zoom-in">
              Amantes del textil
            </div>
            <div class="destinado-item aos-init aos-animate" data-aos="zoom-in">
              Curiosos
            </div>
            <div class="destinado-item aos-init aos-animate" data-aos="zoom-in">
              Investigadores
            </div>
            <div class="destinado-item aos-init aos-animate" data-aos="zoom-in">
              Estudiantes
            </div>
            <div class="destinado-item aos-init aos-animate" data-aos="zoom-in">
              Diseñadores
            </div>
          </div>
        </div>
        <div class="inner">
          <h2>Dona</h2>
          <h3>
            ¿Te gusta lo que hacemos? Puedes ayudarnos a contar más historias
            donando a MadejándoLA. Con tu dinero podremos gestionar viajes,
            pagar a nuestros colaboradores y sostener el mantenimiento y
            actualización del sitio.
          </h3>
          <form
            action="https://www.paypal.com/cgi-bin/webscr"
            method="post"
            target="_top"
          >
            <input type="hidden" name="cmd" value="_s-xclick" />
            <input
              type="hidden"
              name="hosted_button_id"
              value="EE5AHVYNNZ5BY"
            />
            <input
              type="image"
              src="https://www.paypalobjects.com/es_XC/i/btn/btn_donate_SM.gif"
              name="submit"
              title="PayPal - The safer, easier way to pay online!"
              alt="Donar con el botón PayPal"
            />
            <img
              alt=""
              src="https://www.paypal.com/es_MX/i/scr/pixel.gif"
              width="1"
              height="1"
            />
          </form>
        </div>
        <div class="inner">
          <h2>SERVICIOS</h2>
          <h4>
            Nos especializamos en comunicación visual dedicada a proyectos de
            producción y difuisión de técnicas artesanales, principalmente de
            textiles pero no exclusivamente.
          </h4>

          <h3>Ofrecemos siguientes servicios de comunicación visual:</h3>

          <div class="servicios">
            <div class="item-servicios">
              Creación de cortometrajes, piezas narrativas audiovisuales y
              multimedia.
            </div>
            <div class="item-servicios">
              Fotografía de procesos productivos, eventos, producto.
            </div>
            <div class="item-servicios">
              Diseño gráfico y visual: Logotipos, afiches y contenidos para
              redes.
            </div>
          </div>
        </div>
        <div class="inner">
          <h2>Contacto</h2>
          <h4>
            Trabajamos desde la sensibilidad y la empatía hacia propuestas
            sociales y comunitarias. Ofrecemos trabajo de alta calidad y mucho
            profesionalismo. Actualmente nos encontramos establecidas en Buenos
            Aires, Argentina y trabajamos presencialmente o a distancia,
            dependiendo el proyecto.
          </h4>

          <h3>¿Eres parte de una cooperativa, grupo o red artesanal?</h3>
          <h3>
            ¿Estás gestionando un evento de difusión o encuentro de técnicas
            artesanales y/o pueblos originarios?
          </h3>

          <h4>Si necesitas servicios de diseño y comunicación ¡Contáctanos!</h4>

          <p>
            <b>madejandola@gmail.com • Tel. +5491137704486</b>
          </p>
        </div>
      </article>
    </div>
  </div>
</Layout>

<style is:global>
  .prose p {
    @apply my-6 block mx-auto max-w-3xl;
  }

  .prose img {
    @apply my-0;
  }
</style>
