---
import { Image } from "@astrojs/image/components";
import LogoXl from "./Icons/Logo-xl.astro";
---

<div class="pt-24 bg-gray-100 sm:pt-0">
  <footer class="p-4 sm:p-6">
    <div
      class="flex flex-col items-center justify-center w-full max-w-6xl pt-6 mx-auto"
    >
      <div class="grid w-full gap-8 text-center sm:grid-cols-3 sm:gap-6">
        <div class="flex items-center justify-center">
          <LogoXl />
        </div>
        <div class="hidden md:flex flex-col items-start justify-start text-left"></div>
        <div class="grid gap-5 text-left sm:grid-cols-2">
          <div class="text-center">
            <h2 class="mb-3 font-semibold text-gray-900 uppercase">Siguenos</h2>
            <ul class="text-gray-600 flex flex-col gap-1">
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.instagram.com/madejandola/"
                  class="transition duration-150 ease-in-out hover:text-accents-6 hover:font-bold"
                >
                  Instagram
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://www.facebook.com/madejandola/"
                  class="transition duration-150 ease-in-out hover:text-accents-6 hover:font-bold"
                >
                  Facebook
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://vimeo.com/contarloshilos"
                  class="transition duration-150 ease-in-out hover:text-accents-6 hover:font-bold"
                >
                  Vimeo
                </a>
              </li>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://soundcloud.com/contarloshilos"
                  class="transition duration-150 ease-in-out hover:text-accents-6 hover:font-bold"
                >
                  Soundcloud
                </a>
              </li>
            </ul>
          </div>
          <div class="text-center">
            <h2 class="mb-3 font-semibold text-gray-900 uppercase">
              Madejandola
            </h2>
            <ul class="text-gray-600 flex flex-col gap-1">
              <li>
                <a
                  href="/tramas"
                  class="transition duration-150 ease-in-out hover:text-accents-6 hover:font-bold"
                >
                  Tramas
                </a>
              </li>
              <li>
                <a
                  href="/perfiles"
                  class="transition duration-150 ease-in-out hover:text-accents-6 hover:font-bold"
                >
                  Perfiles
                </a>
              </li>
              <li>
                <a
                  href="/aliados"
                  class="transition duration-150 ease-in-out hover:text-accents-6 hover:font-bold"
                >
                  La Red
                </a>
              </li>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <div class="sm:flex py-8 sm:items-center sm:justify-center">
    <span class="text-sm text-gray-500 sm:text-center">
      © 2022 Madejandola. Todos los derechos reservados.
    </span>
  </div>
</div>
