---
// remove the first "/"
// const currentPath = pathname.slice(1);
const pathname = new URL(Astro.request.url).pathname;
---

<nav aria-label="Top">
  <a
    class={pathname === "/tramas"
      ? "active"
      : "" || pathname.includes("/tramas")
      ? "active"
      : ""}
    rel="prefetch"
    href="/tramas"
  >
    Tramas
  </a>
  <a
    class={pathname === "/perfiles"
      ? "active"
      : "" || pathname.includes("/perfiles")
      ? "active"
      : ""}
    rel="prefetch"
    href="/perfiles"
  >
    Perfiles
  </a>
  <a
    class={pathname === "/aliados"
      ? "active"
      : "" || pathname.includes("/aliados")
      ? "active"
      : ""}
    rel="prefetch"
    href="/aliados"
  >
    La Red
  </a>
  <a
    class={pathname === "/sobre-madejandola"
      ? "active"
      : "" || pathname.includes("/sobre-madejandola")
      ? "active"
      : ""}
    rel="prefetch"
    href="/sobre-madejandola"
  >
    Sobre Madejándola
  </a>
  <a
    class={pathname === "/buscar"
      ? "active"
      : "" || pathname.includes("/buscar")
      ? "active"
      : ""}
    rel="prefetch"
    href="/buscar"
  >
    Buscar
  </a>
  <a
    class={pathname === "/contacto"
      ? "active"
      : "" || pathname.includes("/contacto")
      ? "active"
      : ""}
    rel="prefetch"
    href="/contacto"
  >
    Contacto
  </a>
</nav>

<style>
  nav {
    @apply mx-auto gap-x-6 w-full flex justify-between items-center;
  }

  nav a {
    @apply text-lg px-1 text-left duration-300 font-bold text-gray-900 py-3 font-sans;
  }

  nav a:nth-child(1) {
    @apply hover:text-[#2bb673] ;
  }
  nav a:nth-child(1).active {
    @apply text-[#2bb673] border-y-2 border-dashed border-[#2bb673];
  }

  nav a:nth-child(2) {
    @apply hover:text-[#2e3192] ;
  }
  nav a:nth-child(2).active {
    @apply text-[#2e3192] border-y-2 border-dashed border-[#2e3192];
  }

  nav a:nth-child(3) {
    @apply hover:text-[#92278f] ;
  }
  nav a:nth-child(3).active {
    @apply text-[#92278f] border-y-2 border-dashed border-[#92278f];
  }

  nav a:nth-child(4) {
    @apply hover:text-[#f03ca7] ;
  }
  nav a:nth-child(4).active {
    @apply text-[#f03ca7] border-y-2 border-dashed border-[#f03ca7];
  }

  nav a:nth-child(5) {
    @apply hover:text-[#be1e2d] ;
  }
  nav a:nth-child(5).active {
    @apply text-[#be1e2d] border-y-2 border-dashed border-[#be1e2d];
  }

  nav a:nth-child(6) {
    @apply hover:text-[#f7941e] ;
  }
  nav a:nth-child(6).active {
    @apply text-[#f7941e] border-y-2 border-dashed border-[#f7941e];
  }
</style>
