---
import { Image } from "@astrojs/image/components";
const { video, title, featuredImage } = Astro.props;
---

<script>
  const button = document.querySelector(".showVideo") as HTMLElement;
  const youtubeVideo = document.querySelector(".videoYoutube") as HTMLElement;
  const youtubePoster = document.querySelector(".posterYoutube") as HTMLElement;

  button.addEventListener("click", function () {
    youtubeVideo.classList.toggle("!block");
    youtubePoster.classList.toggle("!hidden");
  });
</script>

<div
  class="videoYoutube hidden animate__fadeIn animate__animated youtube-container aspect-w-16 rounded-xl aspect-h-9 overflow-hidden"
>
  <iframe
    width="100%"
    height="450"
    src={video}
    allow="autoplay; encrypted-media"
    allowfullscreen
    title={title}></iframe>
</div>
<div
  class="posterYoutube duration-300 bg-gray-900/80 youtube-container rounded-xl overflow-hidden aspect-w-16 aspect-h-9 group"
>
  <button
    aria-label="Mostrar video Youtube"
    class="showVideo absolute inset-0 z-50 cursor-pointer flex justify-center items-center"
  >
    <div class="relative flex justify-center items-center">
      <svg
        style="-webkit-filter: drop-shadow( 0 0 20px rgba(0, 0, 0, .7)); filter: drop-shadow( 0 0 20px rgba(0, 0, 0, .7));"
        class="relative w-16 md:w-20 h-16 md:h-20 duration-300 fill-white md:scale-125 group-hover:scale-100"
        stroke="currentColor"
        fill="currentColor"
        stroke-width="0"
        viewBox="0 0 1024 1024"
        height="1em"
        width="1em"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm144.1 454.9L437.7 677.8a8.02 8.02 0 0 1-12.7-6.5V353.7a8 8 0 0 1 12.7-6.5L656.1 506a7.9 7.9 0 0 1 0 12.9z"
        >
        </path>
      </svg>
    </div>
  </button>
  <Image
    src={featuredImage}
    alt={title}
    width={616}
    height={347}
    aspectRatio="16:9"
    loading="eager"
    class="pointer-events-none opacity-80 duration-300 group-hover:opacity-60"
  />
</div>
