---
import { Image } from "@astrojs/image/components";
interface Props {
  images: string[];
}
const { images } = Astro.props;
---

<div class="grid md:grid-cols-3 gap-0.5">
  {
    images.map((i) => {
      return (
        <a class="glightbox" href={i}>
          <Image
            alt={i}
            src={i}
            width={1600}
            height={1280}
            class="object-cover w-full h-64"
            format="webp"
          />
        </a>
      );
    })
  }
</div>

<script>
  import GLightbox from "glightbox";
  document.addEventListener("DOMContentLoaded", () => {
    const glightbox = GLightbox({
      /* options */
    });
  });
</script>
