---
import { Image } from "@astrojs/image/components";
interface Props {
  images: string[];
}
const { images } = Astro.props;
---

<div class="grid md:grid-cols-3 gap-0.5">
  {
    images.map((i) => {
      return (
        <a class="glightbox" href={i}>
          <Image
            alt={i}
            src={i}
            width={510}
            height={300}
            class="object-cover w-full h-64"
            format="webp"
          />
        </a>
      );
    })
  }
</div>

