---
import { Image } from "@astrojs/image/components";

const { images } = Astro.props;
---

<div class="f-carousel max-w-2xl mx-auto" id="myCarousel1">
  {
    images.map((i) => {
      return (
        <div
          class="f-carousel__slide"
          data-fancybox
          data-src={i}
          data-thumb-src={i}
        >
          <Image
            alt={i}
            src={i}
            width={1600}
            height={1280}
            class="object-cover w-full h-96"
            format="webp"
          />
        </div>
      );
    })
  }
</div>

<script>
  import { Fancybox } from "@fancyapps/ui";
  import { Carousel } from "@fancyapps/ui/dist/carousel/carousel.esm.js";
  import { Autoplay } from "@fancyapps/ui/dist/carousel/carousel.autoplay.esm.js";
  import { Thumbs } from "@fancyapps/ui/dist/carousel/carousel.thumbs.esm.js";
  const container = document.getElementById("myCarousel1");
  const options = {
    Dots: false,
    Thumbs: {
      type: "classic",
    },
  };

  new Carousel(container, options, { Thumbs });
</script>


<style is:global>
  .f-carousel__nav .f-button.is-next,
  .f-carousel__nav .f-button.is-prev {
    @apply !bg-white hover:!bg-white/80 rounded-full;
  }
</style>