---
import "@/styles/animate.css";
import "@/styles/global.css";
import "@/styles/mobile.css";
import "@fontsource/alegreya-sans";
import "@fontsource/alegreya-sans/300.css";
import "@fontsource/alegreya-sans/400-italic.css";
import "@fontsource/alegreya-sans/500.css";
import "@fontsource/alegreya-sans/500.css";
import "@fontsource/alegreya-sans/700.css";
import "@fontsource/alegreya-sc";
import "@fontsource/alegreya-sc/400-italic.css";
import "@fontsource/alegreya-sc/500.css";
import "@fontsource/alegreya-sc/700.css";
import "@fontsource/alegreya";
import "@fontsource/alegreya/400-italic.css";
import "@fontsource/alegreya/500.css";
import "@fontsource/alegreya/500.css";
import "@fontsource/alegreya/600.css";
import "@fontsource/alegreya/700.css";
import "glightbox/dist/css/glightbox.min.css";
import BaseHead from "@/components/BaseHead.astro";
import Footer from "@/components/Footer.astro";
import IconChevronTop from "@/components/Icons/IconChevronTop.astro";
import IconFacebook from "@/components/Icons/IconFacebook.astro";
import IconInstagram from "@/components/Icons/IconInstagram.astro";
import IconSearch from "@/components/Icons/IconSearch.astro";
import Logo from "@/components/Icons/Logo.astro";
import Navigation from "@/components/Navigation.astro";
import Offcanvas from "@/components/Offcanvas/Offcanvas";

const {
  title,
  description,
  image = "https://res.cloudinary.com/djoqdhbiv/image/upload/v1679784726/web/social/ogimage_nrkirb.jpg",
} = Astro.props;

const pathname = new URL(Astro.request.url).pathname;
---

<html lang="es">
  <head>
    <BaseHead
      title={`Madejandola | ${title ? `${title}` : ""}`}
      description={`${
        description
          ? `${description}`
          : "Sumérgete en un universo lleno de historias que nacen en los hilos de América Latin."
      }`}
      image={image}
    />
    <link href="/_pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/_pagefind/pagefind-ui.js" type="text/javascript"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"
    ></script>
  </head>
  <body class="w-full text-gray-900 bg-white">
    <div id="top"></div>
    <Offcanvas client:load>
      <Navigation />
    </Offcanvas>
    <header
      class="sticky shadow-md bg-white/90 py-0.5 lg:py-2 top-0 left-0 flex justify-between right-0 z-50 backdrop-blur-sm"
    >
      <div class="flex items-center translate-x-6 md:-translate-x-1">
        <a href="/" rel="prefetch">
          <Logo />
          <span class="sr-only">Madejandola</span>
        </a>
      </div>
      <div class="hidden lg:flex items-center space-x-3 lg:pr-6">
        <Navigation />
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="hover:opacity-80 group w-6 h-6"
          href="https://www.facebook.com/madejandola/"
        >
          <IconFacebook />
        </a>
        <a
          target="_blank"
          rel="noopener noreferrer"
          class="hover:opacity-80 group w-6 h-6"
          href="https://www.instagram.com/madejandola//"
        >
          <IconInstagram />
        </a>
      </div>
    </header>
    <div data-pagefind-ignore>
      <slot />
    </div>
    <a
      class="fixed bottom-0 z-40 left-0 m-3 bg-orange-200 p-3 rounded-full shadow-lg hover:bg-orange-400 text-orange-900 hover:text-orange-100 duration-300"
      href="#top"
    >
      <IconChevronTop />
    </a>
    <a
      class="fixed bottom-0 z-40 right-0 m-3 bg-orange-200 p-3 rounded-full shadow-lg hover:bg-orange-400 text-orange-900 hover:text-orange-100 duration-300"
      rel="prefetch"
      href="/buscar"
    >
      <IconSearch />
    </a>
    <Footer />
    <style is:global>
      html,
      body {
        padding: 0;
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
          Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
      }

      html {
        @apply scroll-smooth;
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      * {
        box-sizing: border-box;
        @apply font-sans;
      }

      .btn {
        @apply print:hidden inline-flex items-center justify-center px-4 py-2 font-sans uppercase text-xs md:text-base font-bold tracking-wide duration-300 bg-gray-200 border-0 rounded-md  cursor-pointer ring-0 bg-opacity-90 hover:ring-2 hover:bg-opacity-80 focus-visible:ring-2 shadow-lg hover:shadow focus-visible:ring-offset-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus:ring-2 ring-gray-800;
      }

      .btn.red {
        @apply bg-red-500 text-white shadow-red-500/50 outline-none ring-red-600 print:text-gray-900 print:bg-gray-200;
      }

      .btn.blue {
        @apply bg-indigo-500 text-white shadow-indigo-500/50 outline-none ring-indigo-600 print:text-gray-900 print:bg-gray-200;
      }

      .btn.yellow {
        @apply bg-amber-500 text-white shadow-amber-500/50 outline-none ring-amber-600 print:text-gray-900 print:bg-gray-200;
      }

      .btn.green {
        @apply bg-emerald-500 text-white shadow-emerald-500/50 outline-none ring-emerald-600 print:text-gray-900 print:bg-gray-200;
      }

      article.prose td p {
        @apply my-0;
      }

      article.prose p {
        @apply font-sans;
      }

      article.prose h4 {
        @apply flex px-3 justify-between pt-2 font-sans text-2xl font-normal;
      }

      article.prose h3 {
        @apply max-w-3xl px-3 mx-auto font-bold w-full flex justify-between pt-2 font-sans text-2xl;
      }

      .glightbox-mobile .goverlay {
        @apply bg-black/50;
      }
    </style>
  </body>
</html>
