---
import { GALERIA3 } from "./constants.ts";
import { Image } from "@astrojs/image/components";
---

<div class="grid md:grid-cols-4 gap-0.5">
  {
    GALERIA3.map((i) => {
      return (
        <div class={`h-64 overflow-hidden w-full ${i.class}`}>
          <Image alt={i.title} src={i.image} width={1600} height={1280} class="object-cover w-full h-64" format="webp" />
        </div>
      );
    })
  }
</div>
