---
import { GALERIA1 } from "./constants.ts";
import { Image } from "@astrojs/image/components";
---

<div class="grid md:grid-cols-3 gap-0.5">
  {
    GALERIA1.map((i) => {
      return (
        <Image
          alt={i.title}
          src={i.image}
          width={1600}
          height={1280}
          class="object-cover w-full h-64"
          format="webp"
        />
      );
    })
  }
</div>
